body{
    font-family: "Times New Roman", Georgia, Serif;
    color: aliceblue;
    margin: 0px;
    padding: 0px;

}

.max-width{
    max-width: 100%;
}

/*header*/
header{
    background: black;
}

nav{
    padding-top: 50px;
}

.nav_link{
    text-decoration: none;
    color: aliceblue;
}

.nav_link:active {
    color: #f00; /* Цвет активной ссылки */
}
.nav_link:hover {
    color: orange;
}

.check-in_input{
    width: 100px;
}

.check-in{
    padding-top: 40px;
}

/*/header*/


/*main*/
main{

}

.section-top{
    background: goldenrod;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-bottom{
    padding-top: 50px;
    background: black;
}

.text-pading{
    padding-top: 25px;
}

.text-block{
    font-size: 24px;
}

/*/main*/
/*footer*/
footer{
    background: black;
}

.footer-center-block{
    padding-top: 15px;
    padding-bottom: 15px;
}
/*/footer*/